@font-face {
    font-family: 'QuincyCF';
    src: url('../Quincy/Fontspring-DEMO-quincycf-light.woff') format('woff');
}

@font-face {
    font-family: 'Mont';
    src: url('../Mont/Mont-ExtraLightDEMO.otf') format('opentype');
}

@font-face {
    font-family: 'MontBOLD';
    src: url('../Mont/Mont-HeavyDEMO.otf') format('opentype');
}

div {
    display: flex;
}

body {
    background-color: antiquewhite;
    margin: 0;
    font-family: 'Segoe UI';
}

.header {
    display: flex;
}

.header .btn {
    margin-left: auto;
    align-self: center;
}


.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar>ul {
    display: inline-flex;
    list-style: none;
}

.navbar a {
    font-family: 'QuincyCF';
    display: flex;
    margin: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #796B4A;
    transition: 0.3s;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 420px;
    height: 400px;
    border-radius: 15px;
}

.row {
    display: inline-flex;
    padding: 5px;
    width: 70%;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.product {
    flex-direction: column;
    border-bottom: 2px dotted
}

.product-description p{
    white-space: pre-line;
    font-family: 'Segoe UI';
}

.description {
    flex-direction: column;
    max-width: 420px;
    color: gray;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    line-break: anywhere;
}

.title-price {
    flex-direction: row;
    justify-content: space-between;
}

.price {
    align-self: flex-end;
}

.main-content {
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #FCFBF4 ;
}

.page-title {
    padding-bottom: 25px;
    color: black;
}

#products {
    border-bottom-style: double;
}

.navbar ul li ul {
    display: none;
}

.navbar ul li:hover {
    box-shadow: 1px 1px 1px black;
}

.navbar ul li:hover ul {
    display: flex;
    position: absolute;
    margin-top: 2px;
    background: antiquewhite;
    border-radius: 6px;
    flex-direction: column;
    list-style: none;
    padding: 15px;
    border: 1px solid;
    box-shadow: 3px 2px 1px black;
}

.navbar ul li:hover ul li {
    padding: 5px;
    border-bottom: 1px solid;
}

.navbar ul li:hover ul li:last-child {
    padding: 5px;
    border-bottom: none;
}

.image {
    border: 1.5px solid;
    border-radius: 15px;
}

.logo {
    margin: 15px;
}