@font-face {
    font-family: 'QuincyCF';
    src: url('../Quincy/Fontspring-DEMO-quincycf-light.woff') format('woff');
  }
@font-face {
    font-family: 'Mont';
    src: url('../Mont/Mont-ExtraLightDEMO.otf') format('opentype');
  }
@font-face {
    font-family: 'MontBOLD';
    src: url('../Mont/Mont-HeavyDEMO.otf') format('opentype');
}
  
body{
    background-color: antiquewhite;
    margin: 0;
    font-family: 'QuincyCF','Helvetica', 'Arial', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header .btn{
    margin-left: auto;
    align-self: center;
}


.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar a{
    display: flex;
    margin: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-transform:uppercase;                              
}

.navbar a:hover {
    color:#796B4A;
    transition: 0.3s;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    background-image: url('../images/BEIGE.png');
    height: 500px;
    width: 100%;
    background-size: cover; /* e bon foton me fit into container, pa e pre */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.overlay {
    /* text-align: left; */
    font-size: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background: rgba(0, 0, 0, 0.1); 
    padding: 20px;
    box-sizing: border-box;
}

.overlay h3 {
    color: #796B4A;
    margin-bottom: 0px;
    font-weight: normal;
}

.overlay span {
    color: #000000; 
    font-weight: normal;
    font-size: 42px;
}

.overlay p {
    margin-top: 10px;
    color: #796B4A;
    font-size: 18px;
}

.btn {
    font-size: 15px;
    padding: 8px 20px;
    background-color: transparent;
    color: #000000;
    background-color: #9F8C76;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}

.btn:hover {
    background-color: white; 
}

.columns {
    text-align: center; /* i shtin t4ta kolonat nmes */
    background-color: #F7F2ED;
}

.column {
    display: inline-block;
    width: 230px; /* Sa i don t'gjera kolonat */
    margin: 17px; /* hapsira mes kolonave */
    padding: 15px; 
    text-align: center; /* secila kolon me i pas tekstet nmes t saj */
    vertical-align: top;  /* i bon barabart tekstet neper kolona */
}

.column h3{
    font-family: 'MontBOLD';
    margin-top: 3px; /* hapsira mes icon edhe tekstit */
}

.column p{
    font-family: 'Mont';
    font-size: 13px;
    font-weight: 600;
}

form h1 {
    justify-content: center;
}

  /* Used the same measurements just different pic */
  .newproduct .thumbnail {
    background-image: url('../images/newproduct.png');
    height: 590px;
  }

  .newproduct .overlay{
    justify-content: start;
  }

  .newproduct .new{
    text-transform: capitalize;
    color: #000000;
    font-weight: 400;
    font-size: 17px;
    margin-top: 20px;
  }

  .newproduct .overlay h3{
    margin-top: 3px;
  }

  .newproduct .overlay .white-text{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .newproduct .icon {
    display: inline-block;
    vertical-align: middle; /* e bon tekstin inline me icon */
    margin-right: 5px; /* Add some margin to create space between the icon and text */
}

.newproduct .icon-p{
    font-family: 'Mont';
    font-weight: 600;
    color: #000000;
    margin-bottom: -6px; /* hapsira mes cdo teksti te posht */
    font-size: 15px;
}


/* LOG IN AND SIGN UP */
.signup,
.login {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    background: url('../images/thumb.png') no-repeat; /* id of the body */
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
}


.wrapper {
    width: 420px;
    justify-content: center;
    background: #9F8C76;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 40px;
    padding: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.input-box {
    display:flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 255);
    border-radius: 40px;
    padding: 15px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
}

.input-box .icon{
    margin-left: 10px;
}

.input-box input::placeholder {   /* Username, password etc */
    color: #fff;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    margin-top: 10px;  /* i put it closer to the 'Forgot password" */
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
}

.wrapper .btn:hover{
    background-color: transparent;
}

.btn a {
    font-size: 16px;
    color: #333;
    justify-content: center;
}

.register-link {
    gap: 5px;
}

.wrapper .register-link {
    font-size: 14.5px;
    justify-content: center;
}

a {
    color: #fff;
    text-decoration: none;
}
